@page
@model ProyectoKikDrive.Pages.CRUDs.SeccionPrincipalModel
@{
}
    <div class="container">


        <h1>Kik Drive</h1>
        <h4 class="text-center">Kik Drive Mejorando el Gestionamineto</h4>
        <div class="containerCard">
            <div class="containercd">
                <div class="row text-center align-content-center">
                    <div class="col-sm-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="~/IMG/Supervisor.png" alt="Card image cap" />
                            <div class="card-body">
                                <h5 class="card-title">Registrar Supervisores</h5>
                                <a asp-page="Pages/CRUDs/Supervisores" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="~/IMG/Conductor.png" alt="Card image cap" />
                            <div class="card-body">
                                <h5 class="card-title">Registrar Conductores</h5>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="~/IMG/Vehiculo.png" alt="Card image cap" />
                            <div class="card-body">
                                <h5 class="card-title">Registrar Vehículos </h5>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="~/IMG/Ruta.jpg" alt="Card image cap" />
                            <div class="card-body">
                                <h5 class="card-title">Registrar Rutas</h5>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="~/IMG/Parada.png" alt="Card image cap" />
                            <div class="card-body">
                                <h5 class="card-title">Registrar Paradas</h5>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="~/IMG/5.jpg" alt="Card image cap"   />
                            <div class="card-body">
                                <h5 class="card-title">Registrar Supervisión</h5>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                        </div>
                </div>
    </div>
